body {
  margin-top: 50px;
  text-align: center;
  background-color:mistyrose;
}
h1 {
  margin-bottom: 50px;
  font-size: 50px;
}

#btn4 {
  background-color: grey;
  margin: 15px;
  padding: 10px;
  width: 15%;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

#btn4:hover {
  transform: scale(1.04);
  color: white;
  background-color: rgb(105, 94, 94);
}
.choiceImage {
  height: 100px;
  width: 100px;
  /* background-color: aqua; */
}
.choiceBtn {
  margin: 15px;
  height: 110px;
  width: 110px;
  border: none;
border-radius: 20px;
  background-color: rgb(79, 245, 63);
  cursor: pointer;
  box-shadow: 10px 10px  10px black;
  
}
.choiceBtn:hover{
  transform: scale(1.05);
}

